/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
	background-color: #FFFEF8;
}

.login-page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}


header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 40px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: #B1663C;
}

a.active {
	font-weight: 700;
}

#introduction {
	display: flex;
	align-items: center;
	margin-bottom: 120px;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

.portfolio-title {
	display: flex;
}

.portfolio-title h2 {
	margin-left: 42%;
}

.portfolio-title .btn-modify {
	margin-left: 30px;
	margin-top: 10px;
}

.filtres {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 15px;
	margin-bottom: 60px;
	padding-top: 50px;
}

.btn-filtre {
	font-family: 'Syne';
	font-weight: 700;
	color: #1D6154;
	background-color: white;
	text-align: center;
	border-radius: 60px;
	border: 2px solid #1D6154;
	padding: 10px 30px;
	cursor: pointer;
}

.btn-filtre.active {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	text-align: center;
	border-radius: 60px;
	padding: 10px 30px;
}

.gallery.authenticated .btn-filtre-authenticated {
	display: none;
}

.btn-modify {
	font-family: 'Work Sans';
	font-size: 14px;
	font-weight: 400;
	border: none;
	background: none;
	cursor: pointer;
	margin-left: 50px;
	margin-top: 12px;
}

.profilepic {
	margin-left: 50px;
	margin-top: 12px;
}

.btn-modify i {
	margin-right: 8px;
}

.modal-content button#btnValider[disabled] {
	background: #A7A7A7;
	cursor: not-allowed;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

#login {
	padding-top: 150px;
}

#contact,
#login {
	width: 50%;
	margin: auto;
}

#contact,
#login>* {
	text-align: center;

}

#contact h2,
#login h2 {
	margin-bottom: 20px;
}

#contact form,
#login form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input,
#login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label,
#login label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	cursor: pointer;
}

#login a {
	text-align: center;
	text-decoration: underline;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.login-footer {
	margin-top: auto;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
}

.modal-wrapper {
	width: 630px;
	padding: 30px;
	background-color: #fff;
	margin: auto;
	margin-top: 40px;
	border-radius: 10px;
}

.modal-content {
	display: flex;
	flex-direction: column;
	padding-right: 70px;
	padding-left: 70px;
}

#formAjout {
	display: flex;
	flex-direction: column;
}

.modal-wrapper h3 {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	line-height: 30px;
	text-align: center;
	margin-bottom: 50px;
	margin-top: 30px;
}

.modal-wrapper .separator {
	width: 420px;
	height: 1px;
	background-color: #B3B3B3;
	margin: auto;
	margin-top: 40px;
}

.modal-wrapper .btn {
	padding: 10px 50px;
	font-family: 'Syne';
	font-weight: 400;
	color: white;
	background-color: #1D6154;
	margin: 40px auto 20px;
	width: 240px;
	text-align: center;
	border-radius: 60px;
	border-style: none;
	cursor: pointer;
}

.modal-wrapper .delete-gallery {
	font-family: 'Syne';
	font-weight: 400;
	font-size: 14px;
	color: #D65353;
	text-align: center;
	margin-bottom: 20px;
}

.modal-wrapper .modal-wrapper-close {
	position: relative;
	left: 590px;
	font-size: 24px;
	height: 24px;
	width: 30px;
	border: none;
	background-color: #fff;
	cursor: pointer;
}

.modal-wrapper .modal-wrapper-back {
	position: relative;
	font-size: 24px;
	height: 24px;
	border: none;
	background-color: #fff;
	cursor: pointer;
	margin-left:15px;
}

#modalAjouterPhoto .modal-wrapper-close {
	left:549px;
}

.modal-gallery {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 10px;
	grid-row-gap: 14px;
}

.modal-gallery img {
	width: 100%;
}

.modal-gallery .delete-photo {
	position: relative;
	width: 18px;
	height: 18px;
	background-color: #000;
	border-radius: 2px;
	top: -130px;
	right: -65px;
	color: #fff;
	cursor: pointer;
}

.modal-gallery .delete-photo::before {
	font-family: "Font Awesome 5 Free";
	content: "\f2ed";
	position: relative;
	left: 25%;
	font-size: 11px;
	font-weight: 900;
}

.areaInputPhoto {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #E8F1F7;
	border-radius: 3px;
	margin-bottom: 30px;
	padding: 30px;
	overflow: hidden;
	height: 180px;
}

.areaInputPhoto i {
	font-size: 60px;
	color: #B9C5CC;
	margin-bottom: 20px;
}

.areaInputPhoto input[type="file"] {
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0;
}

.preview-image {
	position: absolute;
	height: 100%;
	top: 0;
}


.modal-content label {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	color: #3D3D3D;
	margin-bottom: 10px;
}

.modal-content input,
.modal-content select {
	height: 50px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	margin-bottom: 20px;
}

.areaInputPhoto .customButton {
	display: inline-block;
	padding: 10px 30px;
	background-color: #CBD6DC;
	color: #fff;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	color: #306685;
}